<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Мудрый советник</title>
</head>
<style>
h1{
font-size: 25px;
line-height: 2;
letter-spacing: 1px;
color: black;
}
body{
background-image: url("http://i.piccy.info/i9/14ab8d6e89694204cf03c6bbab4ac5ab/1593190881/206810/1385392/photo_2020_06_26_19_57_56.jpg");
background-size: 100%;
}
head{
color: red;
}
</style>
<body>
<form name="test" method="post" align = "center">
  <p><b>Введите текст:</b><br>
      <input type="text" size="100">
      <p><input type="submit" value="Отправить">
   <input type="reset" value="Очистить"></p>
  </form>
<form name="test" method="get" align = "center">
  <p><b>Ответ:</b><br>
      <input type="text" size="100" readonly>
</body>
</html>